body {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-color: #8c8c8c;
}

/* Navigation Section */

header {
    background-color:  #7300e6;
    margin-top: 0;
    padding-top: 1rem;
    border-bottom: 6px solid #ffffff;
}

ul {
    list-style: none;
    margin-left: 2rem;
}

li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;

}

li {
    display: inline-block;
    margin: 2rem;
}

/* Company Logo */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 900px;
    background-color: #7300e6;
    color: #ffffff;
    border: 6px solid #ffffff;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.logo h1 {
    opacity: 0.8;
    line-height: 1.6;
}

/* About Section */

.about {
    margin-left: 2rem;
    padding: 3rem;
}

.about h2 {
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #ffffff;
    width: 40%;
}

#member {
    color:  #7300e6;
    font-size: 1.2rem;
    font-weight: 600;
}

/*Photos Section */

.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
    border-bottom: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
}

.photos img {
    width: 500px;
    height: 300px;
}

/* Quote Section */

.quote {
    background-color:#7300e6;
    padding-top: 1rem;
    height: 250px;
    width: 100%;
    border-bottom: 4px solid #ffffff;
}

.quote h1 {
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
    margin-left: 1rem;
}

.quote p {
    color: #ffffff;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
}

/*Play picture section */
.play {
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

.play img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 2rem;

}

/* footer */

footer {
    background-color:  #7300e6;
    padding-bottom: 1rem;
    border-top: 6px solid #ffffff;

}

